<div class="home-banner">
  <div class="filter" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2))">
    <h1 id="title">Outbook</h1>
    <p>
      <span id="banner-typed-text"></span>
    </p>
  </div>
</div>

<!-- search bar -->

<hr>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 py-5">

      <p>Basic admin links for amazing developpers</p>

      <button type="button" class="btn btn-primary"> <%= link_to "index", places_path %></button>

      <button type="button" class="btn btn-primary"><%= link_to "bookings", bookings_path %></button>

      <button type="button" class="btn btn-primary"> <%= link_to "add a place", new_place_path %></button>

      <button type="button" class="btn btn-primary"> <%= link_to "open a new user session", new_user_session_path %></button>

    </div>
  </div>
</div>
