
<div class="home-banner">
  <h1>Outbook</h1>
  <p>
    <span id="banner-typed-text"></span>
  </p>
</div>

<!-- search bar -->

<hr>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 py-5">

      <p>Find me in app/views/pages/home.html.erb</p>

      <%= link_to "index", places_path %>

      <%= link_to "bookings", bookings_path %>

      <%= link_to "open a new user session", new_user_session_path %>

    </div>
  </div>
</div>
