@import "show";

h1 {
  text-align: center;
}


.main-container {
  display: flex;
}

#map {
  // display: grid;
  // grid-template-columns: 1fr;
  // width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
  width: 30%;
}


.places {
  // display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin: 20px 10px;
  width: 70%;
  flex-grow: 1;
  height: 300px;
}

.card-place {
  position: relative;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 3px;
}

.card-place > a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.card-place > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-place h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-place p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-place .card-place-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-place-infos .card-place-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-place-capacity {
  padding-right: 5px;
}

//responsiveness
// Small device
// @media (min-width: 100px) and (max-width: 575px) {
//   .places {
//     grid-template-columns: 1fr;
//   }
//   #map {
//     display: none;
//   }
// }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 576px) {
//   .places {
//     grid-template-columns: 1fr 1fr;
//   }
// }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) {
//   .places {
//     grid-template-columns: 1fr 1fr 1fr;
//   }
// }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
//   .placess {
//     grid-template-columns: 1fr 1fr 1fr 1fr;
//   }
// }

