.navbar-lewagon {
  justify-content: space-between;
  background-color: #F4F4F4;
  transition: 0.5s background-color ease;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-nav {
  padding: 0px;
}

.navbar-lewagon-white {
  background-color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#nav-item {
  height: 100%;
  padding: 0px;
  margin-top: 5px;
}

#nav-item:hover {
  border-bottom: 4px solid #06BA63;
  border-radius: 0;
  cursor: pointer;
}

#navbarDropdown {
  margin-top: 10px;
}

.dropdown-item {
  opacity: 0.7;
}

.dropdown-item:hover {
  opacity: 1;
}

.dropdown-toggle::after {
  display:none;
}

.dropdown-toggle {
  border: none;
  background-color: transparent;
}

.logo {
  color: #06BA63;
}
