<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1>Edit <%= @place.name %></h1>

        <%= render 'form', place: @place %>

        <button id="home-btn"><%= link_to "Back to my places", dashboard_path %></button>
    </div>
  </div>
  <br>
</div>


